{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, { 'attr': {'class':'col-md-4'}}) }}
    {{ form_row(registrationForm.username, { 'attr': {'class': 'form-control mb-3'}}) }}
        {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control mb-3'}}) }}
        {{ form_row(registrationForm.plainPassword, {
             label: 'Password',
             'attr':{'class': 'form-control mb-3'}
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
         <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
